<h1>Subida de archivos</h1>

<dl>
    <h2>Requerimentos</h2>
    
    <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">

        <p>
      
          Sube un archivo:
      
          <input type="file" name="archivosubido">
      
          <input type="submit" value="Enviar archivos">
      
        </p>
      
      </form>

    <h2> Ofertas:</h2>
    
    <form action="../../form-result.php" method="post" enctype="multipart/form-data" target="_blank">

        <p>
      
          Sube un archivo:
      
          <input type="file" name="archivosubido">
      
          <input type="submit" value="Enviar archivos">
      
        </p>
      
      </form>


</dl>
